# dependencies
node_modules/

# Next.js
.next/
out/

# environment variables
.env
.env.local
.env.*.local

# Prisma
prisma/*.db
prisma/*.db-journal

# TypeScript
*.tsbuildinfo

# build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# logs
*.log
npm-debug.log*

# Vercel
.vercel